mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
ipv6: true

#parse("clash-dns.vm")

#parse("nodes/clash3.vm")

#set($inclueItems = ["vless", "hysteria", "hysteria2"])
#parse("clash-proxies.vm")

#parse("clash-rules.vm")