port: 7890
socks-port: 7891
allow-lan: true
mode: Rule
log-level: info
external-controller: :9090

proxies:
$M.proxies($servers)

proxy-groups:
  - name: 🔰 代理
    type: select
    proxies:
      - ♻️ 自动选择
      - 🎯 直连
$M.serverNames($servers)

  - name: ♻️ 自动选择
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 300
    proxies:
$M.serverNames($servers)

  - name: 💰 PayPal
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

##  - name: 🎥 NETFLIX
##    type: select
##    proxies:
##      - 🔰 代理
##      - ♻️ 自动选择
##      - 🎯 直连
##$M.serverNames($servers)
##
##  - name: 🌌 YouTube
##    type: select
##    proxies:
##      - 🔰 代理
##      - ♻️ 自动选择
##      - 🎯 直连
##$M.serverNames($servers)
##
##  - name: ⛔️ 广告拦截
##    type: select
##    proxies:
##      - 🎯 直连
##      - 🛑 拦截
##      - 🔰 代理
##
##  - name: 🚫 运营劫持
##    type: select
##    proxies:
##      - 🎯 直连
##      - 🛑 拦截
##      - 🔰 代理
##
##  - name: 🌍 国外媒体
##    type: select
##    proxies:
##      - 🔰 代理
##      - ♻️ 自动选择
##      - 🎯 直连
##$M.serverNames($servers)
##
##  - name: 🌏 港台媒体
##    type: select
##    proxies:
##      - 🔰 代理
##      - ♻️ 自动选择
##      - 🎯 直连
##$M.serverNames($servers)
##
##  - name: 🌏 国内媒体
##    type: select
##    proxies:
##      - 🎯 直连
##      - 🔰 代理

  - name: Ⓜ️ 微软
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

##  - name: 📲 电报信息
##    type: select
##    proxies:
##      - 🔰 代理
##      - 🎯 直连
##$M.serverNames($servers)

  - name: 🍎 苹果
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: 🎯 直连
    type: select
    proxies:
      - DIRECT

  - name: 🛑 拦截
    type: select
    proxies:
      - REJECT
      - DIRECT

  - name: 🐟 其他
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

rules:
$M.rules("MyReject.list", "🛑 拦截")
$M.rules("MyDirect.list", "🎯 直连")
$M.rules("MyProxy.list", "🔰 代理")
$M.rules("PayPal.list", "💰 PayPal")
$M.rules("Microsoft.list", "Ⓜ️ 微软")
$M.rules("Apple.list", "🍎 苹果")
$M.rules("Proxy.list", "🔰 代理")
$M.rules("Direct.list", "🎯 直连")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Extra/Apple/Apple.list", "🍎 苹果")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Unbreak.list", "🎯 直连")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Guard/Advertising.list", "⛔️ 广告拦截")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Guard/Hijacking.list", "🚫 运营劫持")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Video/Netflix.list", "🎥 NETFLIX")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Video/YouTube.list", "🌌 YouTube")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Streaming.list", "🌍 国外媒体")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/StreamingSE.list", "🌏 港台媒体")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Extra/Telegram/Telegram.list", "📲 电报信息")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Global.list", "🔰 代理")
##$M.rules("https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/China.list", "🎯 直连")
  - GEOIP,CN,🎯 直连
  - MATCH,🐟 其他