mixed-port: 7890
allow-lan: false
mode: rule
log-level: error
ipv6: true

#parse("clash-dns.vm")

#if($debug == $debugToken)
    #set($inclueItems = ["vless", "hysteria", "hysteria2"])
#else
    #set($inclueItems = ["vless"])
#end
#parse("nodes/clash3.vm")

#parse("clash-proxies.vm")

#parse("clash-rules.vm")