mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
ipv6: true

#parse("clash-dns.vm")

proxies:
#foreach($server in $servers)
  #if($server.protocol == "vmess")
  - {name: $server.serverName, server: $server.clientDomain, port: $server.clientPort, type: vmess, uuid: $account.uuid, alterId: $account.maxConnection, cipher: auto, tls: true, skip-cert-verify: false, network: ws, ws-opts: {path: $server.json.wsPath, headers: {Host: $server.clientDomain}}, udp: false}
  #elseif($server.protocol == "trojan")
  - {name: $server.serverName, server: $server.clientDomain, port: $server.clientPort, type: trojan, password: $account.uuid, sni: $server.clientDomain, skip-cert-verify: false, udp: false}
  #elseif($server.protocol == "vless")
  #end
#end

#set($inclueItems = ["vmess", "trojan"])
#parse("clash-proxies.vm")

#parse("clash-rules.vm")