mixed-port: 7890
allow-lan: false
mode: rule
log-level: info
ipv6: false
external-controller: 0.0.0.0:9090
dns:
  enable: true
  listen: 0.0.0.0:53
  ipv6: false
  default-nameserver:
    - 114.114.114.114
  nameserver:
    - tls://223.5.5.5:853
    - 114.114.114.114
    - 119.29.29.29
    - 180.76.76.76
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  fake-ip-filter:
    - '*.lan'
    - '*.localdomain'
    - '*.example'
    - '*.invalid'
    - '*.localhost'
    - '*.test'
    - '*.local'
    - '*.home.arpa'
    - router.asus.com
    - localhost.sec.qq.com
    - localhost.ptlogin2.qq.com
    - '+.msftconnecttest.com'
tun:
  enable: true
  stack: system
  auto-route: true
  auto-detect-interface: true
  dns-hijack:
    - 114.114.114.114
    - 180.76.76.76
    - 119.29.29.29
    - 223.5.5.5
    - 8.8.8.8
    - 8.8.4.4
    - 1.1.1.1
    - 1.0.0.1

proxies:
$M.proxies($servers)

proxy-groups:
  - name: 🔰 代理
    type: select
    proxies:
      - ♻️ 自动选择
      - 🎯 直连
$M.serverNames($servers)

  - name: ♻️ 自动选择
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 300
    proxies:
$M.serverNames($servers)

  - name: 🐶 谷歌
    type: select
    proxies:
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: 💰 PayPal
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: Ⓜ️ 微软
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: 🍎 苹果
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: ☁️ iCloud
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
$M.serverNames($servers)

  - name: 🎯 直连
    type: select
    proxies:
      - DIRECT

  - name: 🛑 拦截
    type: select
    proxies:
      - REJECT
      - DIRECT

  - name: 🐟 其他
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
$M.serverNames($servers)

rules:
  - RULE-SET,MyReject,🛑 拦截
  - RULE-SET,MyDirect,🎯 直连
  - RULE-SET,PayPal,💰 PayPal
  - RULE-SET,Microsoft,Ⓜ️ 微软
  - RULE-SET,iCloud,☁️ iCloud
  - RULE-SET,Apple,🍎 苹果
  - RULE-SET,Google,🐶 谷歌
  - RULE-SET,Applications,🎯 直连
  - RULE-SET,Private,🎯 直连
  - RULE-SET,Reject,🛑 拦截
  - RULE-SET,Direct,🎯 直连
  - RULE-SET,LanCidr,🎯 直连
  - RULE-SET,CnCidr,🎯 直连
  - RULE-SET,TelegramCidr,🔰 代理
  - GEOIP,LAN,🎯 直连
  - GEOIP,CN,🎯 直连
  - MATCH,🐟 其他

#set($rulesNameList = [
  "MyReject",
  "MyDirect",
  "PayPal",
  "Microsoft",
  "iCloud",
  "Apple",
  "Google",
  "Applications",
  "Private",
  "Reject",
  "Direct",
  "LanCidr",
  "CnCidr",
  "TelegramCidr"
])
rule-providers:
#foreach( $rulesName in $rulesNameList)
  $rulesName:
    type: http
    behavior: classical
    url: "$M.rules("${rulesName}.list")"
    path: ./ruleset/${rulesName}.yaml
    interval: 86400

#end