dns:
  enable: true
  listen: 127.0.0.1:5311
  ipv6: false
  default-nameserver:
    - 223.5.5.5
    - 119.29.29.29
  nameserver:
    - 223.5.5.5
    - 119.29.29.29
#if($dns == "hst")
  fallback:
    - "192.168.90.82"
    - "192.168.90.182"
    - "192.168.90.183"
  fallback-filter:
    geoip: false
    geoip-code: CN
    ipcidr:
      - 192.168.0.1/16
    domain:
      - "2caipiao.com"
      - "*.hszq8.com"
      - "*.inzwc.com"
      - "*.hstong.com"
      - "*.vbkr.com"
      - "*.vtradesg.com"
      - "*.vbkrsg.com"
      - "*.vtradesa.com"
      - "*.mbkr.com.my"
      - "*.mgbl.com.my"
      - "*.plusonline.com.my"
      - "*.mplusglobal.com.my"
      - "*.vbkrhk.com"
      - "*.tickrs.com.sg"
      - "*.alsahm.com.sa"
      - "*.alsahm.com"
#else
#当dns解析出现问题时，打开如下配置
#  fallback:
#    - "自己的DNS"
#  fallback-filter:
#    geoip: false
#    geoip-code: CN
#    ipcidr:
#      - 192.168.0.1/16
#    domain:
#      - 需要走自己的DNS的域名，如："*.test.com"
#end