port: 7890
socks-port: 7891
allow-lan: true
mode: Rule
log-level: info
external-controller: :9090

#parse("clash-dns.vm")

proxies:
#foreach($server in $servers)
  #if($server.protocol == "vmess")
  - {name: $server.serverName, server: $server.clientDomain, port: $server.clientPort, type: vmess, uuid: $account.uuid, alterId: $account.maxConnection, cipher: auto, tls: true, skip-cert-verify: false, network: ws, ws-opts: {path: $server.json.wsPath, headers: {Host: $server.clientDomain}}, udp: false}
  #elseif($server.protocol == "trojan")
  - {name: $server.serverName, server: $server.clientDomain, port: $server.clientPort, type: trojan, password: $account.uuid, sni: $server.clientDomain, skip-cert-verify: false, udp: false}
  #end
#end

#set($inclueItems = ["vmess", "trojan"])
#parse("clash-proxies.vm")

rules:
#foreach($rule in $ruleList)
#set($ruleFileName = $rule.name + ".list")
$rulesParser.content("$ruleFileName", "$rule.group")
#end
#if (!$whitelist)
  - GEOIP,LAN,DIRECT
  - GEOIP,CN,DIRECT
#end
  - MATCH,🔰 代理