#if($target == "clash3")
proxy-providers:
  duoyu:
    type: http
    path: ./proxies.yaml
    url: $proxiesUrl
    interval: 3600
    health-check:
      enable: true
      url: http://onedrive.live.com
      interval: 300
#end

#set($supportSevers = [])
#foreach($item in $servers)
  #if($inclueItems.contains($item.protocol))
    #set($result = $supportSevers.add($item))
  #end
#end
#set($delimiter = $lineSeparator)
#set($serverNames = "")
#foreach($item in $supportSevers)
  #if($inclueItems.contains($item.protocol))
    #set($serverNames = "$serverNames      - $item.serverName$delimiter")
  #end
#end
#set($ruleList = [
  {"name":"Applications", "group":"🎯 直连"},
  {"name":"MyReject", "group":"🚫 拦截"},
  {"name":"MyProxy", "group":"🔰 代理"},
  {"name":"MyDirect", "group":"🎯 直连"},
  {"name":"OpenAI", "group":"🐳 OpenAI"},
  {"name":"Amazon", "group":"🛍 亚马逊"},
  {"name":"PayPal", "group":"💰 PayPal"},
  {"name":"Google", "group":"🐶 谷歌"},
  {"name":"YouTube", "group":"🏖 YouTube"},
  {"name":"Microsoft", "group":"👔️ 微软"},
  {"name":"iCloud", "group":"☁️ iCloud"},
  {"name":"Apple", "group":"🍎 苹果"},
  {"name":"Whatsapp", "group":"🐚 Whatsapp"},
  {"name":"TikTok", "group":"👙 TikTok"},
  {"name":"Private", "group":"🎯 直连"},
  {"name":"Reject", "group":"🚫 拦截"},
  {"name":"TelegramCidr", "group":"🔰 代理"}
  ])
#if ($whitelist)
  #set($tmp = $ruleList.add({"name":"Direct", "group":"🎯 直连"}))
#else
  #set($tmp = $ruleList.add({"name":"Proxy", "group":"🔰 代理"}))
#end
proxy-groups:
  - name: 🔰 代理
    type: select
    proxies:
      - ♻️ 自动选择
      - 🎯 直连
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end


  - name: ♻️ 自动选择
    type: url-test
    url: http://www.gstatic.com/generate_204
    interval: 300
    proxies:
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🐳 OpenAI
    type: select
    proxies:
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 💰 PayPal
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🛍 亚马逊
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🐶 谷歌
    type: select
    proxies:
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🏖 YouTube
    type: select
    proxies:
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 👔️ 微软
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: ☁️ iCloud
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🍎 苹果
    type: select
    proxies:
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🐚 Whatsapp
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 👙 TikTok
    type: select
    proxies:
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end

  - name: 🎯 直连
    type: select
    proxies:
      - DIRECT

  - name: 🚫 拦截
    type: select
    proxies:
      - REJECT
      - DIRECT

  - name: ⛳️ 其他
    type: select
    proxies:
#if ($whitelist == true)
      - 🔰 代理
      - 🎯 直连
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end
#else
      - 🎯 直连
      - 🔰 代理
      - ♻️ 自动选择
#if($target == "clash3")
    use:
      - duoyu
#else
$serverNames
#end
#end