#!MANAGED-CONFIG $configUrl interval=3600 strict=false

[General]
loglevel = notify
bypass-system = true
skip-proxy = 127.0.0.1,192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,100.64.0.0/10,localhost,*.local,e.crashlytics.com,captive.apple.com,::ffff:0:0:0:0/1,::ffff:128:0:0:0/1
#DNS设置或根据自己网络情况进行相应设置
bypass-tun = 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
dns-server = 114.114.114.114, 223.5.5.5, 119.29.29.29

[Script]


[Proxy]
DIRECT = direct
#foreach($server in $servers)
    #if($server.protocol == "vmess")
$server.serverName = vmess, $server.clientDomain, $server.clientPort, username=$account.uuid, ws-path=$server.wsPath, ws-headers=Host:$server.clientDomain, ws=true, tls=true, vmess-aead=true
    #elseif($server.protocol == "trojan")
$server.serverName = trojan, $server.clientDomain, $server.clientPort, password=$account.uuid, sni=$server.clientDomain
    #else
    #end
#end
🎯 直连 = direct

#set($inclueItems = ["vmess", "trojan"])
#set($supportSevers = [])
#foreach($item in $servers)
    #if($inclueItems.contains($item.protocol))
        #set($result = $supportSevers.add($item))
    #end
#end
#set($delimiter = ", ")
#set($serverNames = "")
#foreach($item in $supportSevers)
    #if($inclueItems.contains($item.protocol))
        #if($foreach.hasNext)
            #set($serverNames = "$serverNames$item.serverName$delimiter")
        #else
            #set($serverNames = "$serverNames$item.serverName")
        #end
    #end
#end
[Proxy Group]
🔰 代理 = select,♻️ 自动选择,🎯 直连,$serverNames
♻️ 自动选择 = url-test,$serverNames,url=http://www.gstatic.com/generate_204,interval=300,timeout=5
💰 PayPal = select,🔰 代理,🎯 直连,♻️ 自动选择,$serverNames
🛒 亚马逊 = select,🔰 代理,🎯 直连,♻️ 自动选择,$serverNames
🐶 谷歌 = select,🔰 代理,♻️ 自动选择,$serverNames
🎬 YouTube = select,🔰 代理,♻️ 自动选择,🎯 直连,$serverNames
Ⓜ️ 微软 = select,🔰 代理,🎯 直连,♻️ 自动选择,$serverNames
☁️ iCloud = select,🎯 直连,🔰 代理,♻️ 自动选择,$serverNames
🍎 苹果 = select,🎯 直连,🔰 代理,♻️ 自动选择,$serverNames
🛑 拦截 = select,REJECT,DIRECT
🐟 其他 = select,🎯 直连,🔰 代理,♻️ 自动选择,$serverNames

[Rule]
RULE-SET,$rootUrl/subscribe/rules/surge/Applications.list,🎯 直连
RULE-SET,$rootUrl/subscribe/rules/surge/MyReject.list,🛑 拦截,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/MyProxy.list,🔰 代理,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/MyDirect.list,🎯 直连,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/PayPal.list,💰 PayPal,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/YouTube.list,🎬 YouTube,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Amazon.list,🛒 亚马逊,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Google.list,🐶 谷歌,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Microsoft.list,Ⓜ️ 微软,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/iCloud.list,☁️ iCloud,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Apple.list,🍎 苹果,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Private.list,🎯 直连
RULE-SET,$rootUrl/subscribe/rules/surge/Reject.list,🛑 拦截
RULE-SET,SYSTEM,DIRECT
##RULE-SET,$rootUrl/subscribe/rules/surge/Proxy.list,🔰 代理,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Tld-not-cn.list,🔰 代理,force-remote-dns
RULE-SET,$rootUrl/subscribe/rules/surge/Gfw.list,🔰 代理,force-remote-dns
RULE-SET,$rootUrl/subscribe/rules/surge/Greatfire.list,🔰 代理,force-remote-dns
RULE-SET,$rootUrl/subscribe/rules/surge/TelegramCidr.list,🔰 代理
FINAL,🐟 其他,dns-failed

