#!MANAGED-CONFIG $configUrl interval=3600 strict=false

[General]
loglevel = notify
bypass-system = true
skip-proxy = 127.0.0.1,192.168.0.0/16,10.0.0.0/8,172.16.0.0/12,100.64.0.0/10,localhost,*.local,e.crashlytics.com,captive.apple.com,::ffff:0:0:0:0/1,::ffff:128:0:0:0/1
#DNS设置或根据自己网络情况进行相应设置
bypass-tun = 192.168.0.0/16,10.0.0.0/8,172.16.0.0/12
dns-server = 114.114.114.114, 112.124.47.27, 8.8.8.8, 8.8.4.4

[Script]


[Proxy]
DIRECT = direct
#foreach($server in $servers)
    #if($server.protocol == "vmess")
$server.serverName = vmess, $server.clientDomain, $server.clientPort, username= $account.uuid, ws-path=$server.wsPath, sni=ajp3.alibaapay.com, ws-headers=Host:$server.clientDomain, ws=true, tls=true, tls13=false, skip-cert-verify=1, tfo=false, udp-relay=true
    #elseif($server.protocol == "trojan")
$server.serverName = trojan, $server.clientDomain, $server.clientPort, password=$account.uuid, sni=$server.clientDomain, skip-cert-verify=1, tfo=false, udp-relay=true
    #else
    #end
#end
🎯 直连 = direct

[Proxy Group]
🔰 代理 = select,♻️ 自动选择,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
♻️ 自动选择 = url-test,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end,url=http://www.gstatic.com/generate_204,interval=300,timeout=5
💰 PayPal = select,🎯 直连,🔰 代理,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
##🎥 NETFLIX = select,🔰 代理,♻️ 自动选择,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
##🌌 YouTube = select,🔰 代理,♻️ 自动选择,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
####⛔️ 广告拦截 = select,🎯 直连,🛑 拦截,🔰 代理
####🚫 运营劫持 = select,🎯 直连,🛑 拦截,🔰 代理
##🌍 国外媒体 = select,🔰 代理,♻️ 自动选择,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
##🌏 港台媒体 = select,🔰 代理,♻️ 自动选择,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
##🌏 国内媒体 = select,🎯 直连,🔰 代理
Ⓜ️ 微软 = select,🎯 直连,🔰 代理,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
🐶 谷歌 = select,🔰 代理,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
##📲 电报信息 = select,🔰 代理,🎯 直连,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
🍎 苹果 = select,🎯 直连,🔰 代理,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
☁️ iCloud = select,🎯 直连,🔰 代理,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end
🛑 拦截 = select,DIRECT,REJECT
🐟 其他 = select,🔰 代理,🎯 直连,♻️ 自动选择,#foreach($server in $servers)#if($server.protocol == "vmess" || $server.protocol == "trojan")$server.serverName#if( $foreach.hasNext ), #end#end#end

[Rule]
PROCESS-NAME,Eagle*,🛑 拦截
RULE-SET,$rootUrl/subscribe/rules/surge/MyReject.list,🛑 拦截,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/MyDirect.list,🎯 直连,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/MyProxy.list,🔰 代理,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/PayPal.list,💰 PayPal,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Microsoft.list,Ⓜ️ 微软,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Apple.list,🍎 苹果,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/iCloud.list,☁️ iCloud,update-interval=86400
##RULE-SET,$rootUrl/subscribe/rules/surge/Proxy.list,🔰 代理,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Private.list,🎯 直连,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/Direct.list,🎯 直连,update-interval=86400
RULE-SET,$rootUrl/subscribe/rules/surge/CnCidr.list,🎯 直连,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Extra/Apple/Apple.list,🍎 苹果,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Unbreak.list,🎯 直连,update-interval=86400
####RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Guard/Advertising.list,⛔️ 广告拦截,update-interval=86400
####RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Guard/Hijacking.list,🚫 运营劫持,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Video/Netflix.list,🎥 NETFLIX,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Video/YouTube.list,🌌 YouTube,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/Streaming.list,🌍 国外媒体,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/StreamingMedia/StreamingSE.list,🌏 港台媒体,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Extra/Telegram/Telegram.list,📲 电报信息,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/Global.list,🔰 代理,update-interval=86400
##RULE-SET,https://raw.githubusercontent.com/DivineEngine/Profiles/master/Surge/Ruleset/China.list,🎯 直连,update-interval=86400
GEOIP,CN,🎯 直连
FINAL,🐟 其他

