proxies:
#foreach($server in $servers)
#if($inclueItems.contains($server.protocol))
  #if($server.inboundTag.startsWith("vless_reality"))
  - name: $server.serverName
    type: $server.protocol
    server: $server.clientDomain
    port: $server.clientPort
    uuid: $account.uuid
    network: tcp
    tls: true
    udp: true
    flow: $!server.json.flow
    servername: $!server.json.servername
    reality-opts:
      public-key: $!server.json["public-key"]
      short-id: $!server.json["short-id"]
    client-fingerprint: chrome
  #elseif($server.inboundTag.startsWith("vless_tcp_tls"))
  - name: $server.serverName
    type: $server.protocol
    server: $server.clientDomain
    port: $server.clientPort
    uuid: $account.uuid
    network: tcp
    tls: true
    udp: true
    flow: $!server.json.flow
    client-fingerprint: chrome
  #elseif($server.protocol == "hysteria")
  - name: $server.serverName
    type: $server.protocol
    server: $server.v2rayIp
    port: $server.clientPort
    auth-str: $account.uuid
    alpn:
      - h3
    sni: $server.clientDomain
    protocol: $!server.json.udp
    down: $!server.json.down
    up: $!server.json.up
  #elseif($server.protocol == "hysteria2")
  - name: $server.serverName
    type: $server.protocol
    server: $server.v2rayIp
    port: $server.clientPort
    password: $account.uuid
    alpn:
      - h3
    sni: $server.clientDomain
    skip-cert-verify: $!server.json["skip-cert-verify"]
    client-fingerprint: chrome
  #end
#end
#end